@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

header {
    background-color: transparent;
    text-align: left;
    font-family: 'Bitter', sans-serif;
    font-weight: 100;
    padding-left: .5em;
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0), #333);
    height: auto;
    outline-color: #333;
    outline-width: thin;
    outline-style: groove;
    h1, p {
        margin: 0;
        padding: 0; 
    }

    p {
        margin-top: 5px; 
        margin-bottom: 5px; 
    }
}


body {
    font-family: 'Arial', sans-serif;
    margin: 1;
    background-color: #111;
    color: #fff;
    outline-width: 1em;
    outline-style: hidden;
    
}   

.toggle-button {
    background-color: #111;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Bitter', sans-serif;
    display: flex;
    align-items: center;
    margin-left: -1em;
}

.toggle-button:hover {
    color: cornflowerblue;
}

.toggle-button i {
    margin-right: 5px;
}

.mainNav {
    background-color: transparent;
    padding: 5px 5px;
    text-align: center;
    position: absolute;
    display: none;
    justify-content: left;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-link:hover {
    color: cornflowerblue;
}

.nav-link i {
    margin-right: 5px;
}

footer {
    background-color: transparent;
    text-align: center;
    width: 100%;

}
footer h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    /* color: transparent; */
}

  footer::before {
    content: "\00a0"; 
    display: block;
    height: 40px; 
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0), #333);
}

section h2 {
    text-align: center;
    font-family: 'Bitter', sans-serif;
    font-weight: 100;
    font-size: 35px;
    outline-color: #333;
    outline-width: thin;
    outline-style: groove;
    background: linear-gradient(to top, rgba(51, 51, 51, 0), #333);
    
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 1em;
    outline-style: hidden;
    background: transparent;
}

.gallery img {
    width: 75%;
    margin-bottom: 2em;
    transition: transform 0.5s ease-in-out;
}


.gallery img:hover {
    transform: translateY(-1em);
}

/* .artwork-container p {
    display: none; 
}

.artwork-container:hover p {
    display: block;
    color: #ff0000;
    font-family: monospace;
    font-size: 25px;
    opacity: .5;
} */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    color: #333; 
    font-family: 'Arial', sans-serif;
    max-width: 600px; 
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #ff0000; /* Close button color */
    font-weight: bold;
}

#aboutModal h2 {
    color: #007BFF;
}

#aboutModal p {
    line-height: 1.6;
    margin-bottom: 15px; 
}

#contactsModal h2 {
    color: #007BFF;
}

#contactsModal p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.artwork-container {
    text-align: center; 
    margin-bottom: 10px; /
}
#imageContainer {
    display: none;
}

#mycanvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    align-items: center;
    /* border: 1px solid yellowgreen; */
    background: url(/backgrounds/600432back.png);
}

@media only screen and (max-width: 600px){}