@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');
* {
    opacity: 0.99;

}
header {
    background-color: transparent;
    text-align: center;
    font-family: 'Bitter', sans-serif;
    font-weight: 100;
    padding-left: .5em;
    background: linear-gradient(to top, rgba(51, 51, 51, 0), #333);
    outline-color: #333;
    outline-width: thin;
    outline-style: groove;
    max-width: 432px;
    border-radius: 1%;
    h1, p {
        margin: 3px;
    }
    h1 {
        margin-top: 10px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: #fff;
    overflow-y: scroll;
    max-width: max-content;
    margin-left: 2px;
    margin-top: 2px;
}   
header h2 {
    text-align: center;
    background-image: linear-gradient(to left,  yellow, orange, violet, indigo);
    color: transparent;
    opacity: .7;
    transform: translateX(-4px);
}

footer {
    background-color: transparent;
    text-align: center;
    width: 100%;

}
footer h1 {
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
}
footer p2 {

    font-size: 5px;
}

footer::before {
    content: "\00a0"; 
    display: block;
    height: 40px; 
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0), #333);
}
#mute {
    transform: translateY(+20px);
    background-color:darkblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;
}

div h2 {
    text-align: center;
    font-family: 'Bitter', sans-serif;
    font-weight: 100;
    font-size: 31px;
    outline-color: #333;
    outline-width: thin;
    outline-style: groove;
    background: linear-gradient(to top, rgba(51, 51, 51, 0), #333);
    margin: 0;   
}

.gallery {
    display: flex;
    justify-content: center;
    background: transparent;
    max-width: 432px;
}

.gallery img {
    margin: 1em;
    width: 35%;
    max-width: 200px;
    opacity: 0.3;
    transition: transform 0.5s ease-in-out;
}

.gallery img:hover {

    transform: scale(1.2);
    opacity: 1.0;
}

#imageContainer {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
}

#mycanvas {
    display: block;
    position: relative;
    max-width: 432px;
    max-height: 432px;
    width: 100%;
    left: -3%;
}

@media only screen and (max-width: 600px){}