@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

header {
    background-color: transparent;
    justify-content: center;
    text-align: center;
    font-family: 'Bitter', sans-serif;
    font-weight: 100;
    padding-left: .5em;
    background: linear-gradient(to left, rgba(51, 51, 51, 0), #333);
    height: auto;
    outline-color: #333;
    outline-width: thin;
    outline-style: groove;
    h1, p {
        margin: 0;
        padding: 0;
    }

    p {
        margin-top: 5px; 
        margin-bottom: 5px; 
    }
}

body {
    font-family: 'Arial', sans-serif;
    margin: 1;
    background-color: black;
    color: #fff;
    outline-width: 1em;
    outline-style: hidden;
    
}   

footer {
    background-color: transparent;
    text-align: center;
    width: 100%;

}
footer h1 {
    text-align: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: transparent;
}
footer p2 {

    font-size: 5px;
}

footer::before {
    content: "\00a0"; 
    display: block;
    height: 40px; 
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0), #333);
}
#mute {
    transform: translateY(-200px);
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 2px;

}

div h2 {
    text-align: center;
    font-family: 'Bitter', sans-serif;
    font-weight: 100;
    font-size: 35px;
    outline-color: #333;
    outline-width: thin;
    outline-style: groove;
    background: linear-gradient(to top, rgba(51, 51, 51, 0), #333);
    margin: 0;   
}

.gallery {
    display: flex;
    justify-content: center;

    outline-style: hidden;
    background: transparent;
    margin-bottom: 6em;
}

.gallery img {
    margin: 2em;
    width: 35%;
    max-width: 200px;
    opacity: 0.4;
    transition: transform 0.5s ease-in-out;
}

.gallery img:hover {

    transform: scale(1.2);
    opacity: 1.0;
    
}

#imageContainer {
    display: none;
}

#mycanvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    align-items: center;

}

#catMenuA {
    display: none;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translate(+87%, -480px);
    opacity: 50%;
    transition: transform 0.3s ease-in-out;
}



@media only screen and (max-width: 600px){}